body {
  padding-top: 66px;
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin: 10px 0px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 300;
}

h2 {
  margin: 0px 0px 32px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 300;
}

h3 {
  margin: 0px 0px 6px;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
}

h4 {
  margin: 10px 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}

h5 {
  margin: 10px 0px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin: 10px 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 10px;
}

.button {
  display: inline-block;
  margin-right: 14px;
  padding: 16px 26px;
  border: 2px solid #000;
  background-color: #000;
  -webkit-transition: background-color 250ms ease, color 250ms ease, border-color 250ms ease;
  transition: background-color 250ms ease, color 250ms ease, border-color 250ms ease;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
}

.button:hover {
  border-color: #fff;
  background-color: transparent;
}

.button.hollow {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

.button.hollow:hover {
  border-color: #000;
  color: #000;
}

.button.hollow.black {
  margin-right: 0px;
  border-color: #000;
  color: #000;
}

.button.hollow.black:hover {
  border-color: #ff177f;
  color: #ff177f;
}

.button.hollow.grey {
  margin-right: 0px;
  border-color: #d1d1d1;
  color: #d1d1d1;
}

.button.hollow.grey:hover {
  border-color: #000;
  color: #000;
}

.button.form {
  padding-top: 18px;
  padding-bottom: 18px;
  border-width: 0px;
  background-color: #d1d1d1;
  font-weight: 300;
}

.button.form:hover {
  background-color: #249cff;
}

.navbar {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
}

.logo {
  margin-top: 15px;
  margin-bottom: 0px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #272832;
  font-size: 26px;
  line-height: 33px;
  font-weight: 300;
}

.logo:hover {
  color: #249cff;
}

.hamburger-icon {
  font-size: 31px;
}

.section {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: transparent;
  color: #5c5c5c;
}

.section.header {
  padding: 80px 10px;
  background-color: #90e3fd;
  background-image: linear-gradient(135deg, rgba(135, 19, 218, 0.8), rgba(227, 72, 0, 0.82)), url('../images/machine-learning_2.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  color: hsla(0, 0%, 100%, 0.72);
}

.section.header._2 {
  background-image: linear-gradient(135deg, rgba(145, 0, 217, 0.88), rgba(0, 182, 227, 0.82)), url('../images/data.jpg');
}

.section.header._3 {
  background-image: linear-gradient(315deg, rgba(0, 222, 96, 0.8), rgba(0, 136, 227, 0.82)), url('../images/hills.jpg');
}

.section.grey {
  overflow: visible;
  width: auto;
  height: auto;
  max-height: none;
  max-width: none;
  background-color: #ededed;
  color: #696969;
}

.section.footer {
  padding: 35px 20px;
}

.section.projects {
  padding-bottom: 0px;
  border-top: 1px solid #ededed;
  color: #4d4d4d;
}

.section.white {
  border-top: 1px solid #ededed;
}

.menu-button {
  background-color: #fff;
  -webkit-transition: color 200ms ease, background-color 200ms ease;
  transition: color 200ms ease, background-color 200ms ease;
  color: #272832;
}

.menu-button:hover {
  background-color: #f2f2f2;
  color: #272832;
}

.menu-button.w--open {
  background-color: #272832;
  color: #fff;
}

.menu-button.w--open:hover {
  background-color: #1e1f26;
  color: hsla(0, 0%, 100%, 0.83);
}

.nav-menu {
  padding-top: 18px;
  padding-bottom: 24px;
  background-color: #272832;
}

.nav-link {
  padding: 20px 20px 20px 0px;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  color: #fff;
  font-size: 26px;
  line-height: 33px;
  font-weight: 300;
}

.nav-link:hover {
  color: #249cff;
}

.nav-link.w--current {
  color: #ff177f;
}

.nav-link.w--current:hover {
  color: #ff177f;
}

.social-wrapper {
  display: block;
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 20px 20px 0px;
  text-align: left;
}

.social-icon {
  width: 23px;
  margin-right: 15px;
}

.social-link {
  margin-right: 16px;
}

.social-link:hover {
  -webkit-transform: translate(0px, 5px);
  -ms-transform: translate(0px, 5px);
  transform: translate(0px, 5px);
}

.project-row {
  background-color: #272832;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff0048), to(#f53d00));
  background-image: linear-gradient(90deg, #ff0048, #f53d00);
}

.project-row.blue {
  background-image: -webkit-gradient(linear, left top, right top, from(#a0f), to(#0072f5));
  background-image: linear-gradient(90deg, #a0f, #0072f5);
}

.project-row.teal {
  background-image: -webkit-gradient(linear, left top, right top, from(#00b7ff), to(#00f59b));
  background-image: linear-gradient(90deg, #00b7ff, #00f59b);
}

.project-link {
  position: relative;
  display: block;
  width: 25%;
  height: 350px;
  float: left;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
  color: #fff;
  text-decoration: none;
}

.project-link:hover {
  opacity: 0.5;
}

.project-link.project-1 {
  background-image: url('../images/bob-van-aubel-ray-bans.jpg');
}

.project-link.project-2 {
  background-image: url('../images/sand.jpg');
}

.project-link.project-3 {
  background-image: url('../images/sunrise2.jpg');
}

.project-link.project-4 {
  background-image: url('../images/birds.jpg');
  background-position: 100% 50%;
}

.project-link.project-5 {
  background-image: url('../images/johnny-lam-connect.jpg');
}

.project-link.project-6 {
  background-image: url('../images/sunrise.jpg');
}

.project-link.project-7 {
  background-image: url('../images/oceans.jpg');
}

.project-link.project-8 {
  background-image: url('../images/lake.jpg');
}

.project-link.project-9 {
  background-image: url('../images/beach-1600px.jpg');
}

.project-link.project-10 {
  background-image: url('../images/beach2jpg');
}

.half-width {
  width: 50%;
}

.quarter-width {
  width: 25%;
}

.third-width {
  width: 33.333%;
}

.main-heading {
  color: #fff;
  font-size: 48px;
  font-weight: 300;
}

.button-group {
  margin-top: 36px;
}

.project-wrapper {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  padding: 11px 19px 13px;
  background-color: rgba(0, 0, 0, 0.09);
}

.tag {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: hsla(0, 0%, 100%, 0.49);
  font-size: 9px;
  line-height: 10px;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.footer-logo {
  color: #c4c4c4;
  font-size: 16px;
  line-height: 22px;
  font-weight: 300;
}

.footer-social-link {
  margin-left: 24px;
  opacity: 0.2;
  -webkit-transition: opacity 250ms ease;
  transition: opacity 250ms ease;
}

.footer-social-link:hover {
  opacity: 0.77;
}

.social-footer-wrap {
  text-align: right;
}

.field {
  height: 58px;
  margin-bottom: 0px;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 0px solid #000;
  background-color: #fff;
  box-shadow: inset 2px 0 0 0 transparent;
  -webkit-transition: box-shadow 300ms ease;
  transition: box-shadow 300ms ease;
  color: #249cff;
  font-size: 17px;
  font-weight: 300;
}

.field:focus {
  box-shadow: inset 2px 0 0 0 #249cff;
}

.field.textarea {
  height: 128px;
}

.field.grey {
  background-color: #f7f7f7;
}

.contact-text {
  padding-right: 59px;
  color: #a3a3a3;
}

.slider {
  height: auto;
  background-color: #fff;
}

.slide {
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: linear-gradient(135deg, rgba(222, 0, 63, 0.8), rgba(235, 74, 0, 0.8)), url('../images/images.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, scroll;
}

.slide._2 {
  background-image: linear-gradient(135deg, rgba(148, 0, 222, 0.8), rgba(0, 176, 235, 0.8)), url('../images/National_Baseball_Hall_of_Fame_and_Museum_Cooperstown_NY.jpg');
}

.slide._3 {
  background-image: linear-gradient(135deg, rgba(0, 222, 96, 0.8), rgba(0, 188, 235, 0.8)), url('../images/istockphoto-482805043-612x612.jpg');
}

.slider-nav {
  padding-top: 5px;
  opacity: 1;
  font-size: 7px;
}

.replace-text {
  background-color: hsla(0, 0%, 100%, 0.09);
}

.skill {
  padding: 12px 16px;
  border-left: 2px solid rgba(0, 0, 0, 0.09);
  background-color: #d9d9d9;
  color: #666;
  text-transform: uppercase;
}

.skill:hover {
  background-color: #cfcfcf;
}

.skill._70 {
  width: 70%;
}

.skill._40 {
  width: 40%;
}

.skill._90 {
  width: 90%;
}

.skill-background {
  width: 100%;
  margin-top: 18px;
  background-color: #f7f7f7;
}

.light-text {
  color: #f5f5f5;
}

.success-message {
  padding: 83px 32px;
  background-color: #ccc;
  color: #7d7d7d;
  text-align: center;
}

.thank-you-title {
  margin-right: 14px;
  margin-bottom: 14px;
  margin-left: 14px;
}

.no-padd-section.grey {
  background-color: #ededed;
  color: #696969;
}

.no-padd-section.border {
  border-top: 1px solid #ededed;
}

.padded-column {
  padding-top: 80px;
  padding-bottom: 80px;
}

.profile-photo {
  height: 390px;
  background-image: url('../images/camera-man.jpg');
  background-position: 50% 0px;
  background-size: cover;
  background-repeat: no-repeat;
}

.work-type {
  color: #249cff;
  font-weight: 400;
}

.process-row {
  margin-bottom: 17px;
}

.center-content {
  text-align: center;
}

.more-icon {
  margin-top: 2px;
  margin-right: 9px;
  float: left;
}

.back-link {
  display: block;
  margin-left: 2px;
  opacity: 0.44;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.back-link:hover {
  opacity: 1;
}

.caption-title {
  margin-bottom: 5px;
}

.caption {
  color: #a6a6a6;
}

.caption-wrapper {
  margin-top: 10px;
  margin-bottom: 43px;
}

.right-align-col {
  text-align: right;
}

.previous-column {
  padding-top: 80px;
  padding-right: 40px;
  padding-bottom: 80px;
  border-right: 1px solid #ededed;
  text-align: right;
}

.next-column {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 40px;
}

.next-prev-link {
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

.next-prev-link:hover {
  color: #404040;
}

.all-camps-title {
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.html-embed {
  overflow: visible;
  width: 940vh;
  height: 160vw;
  max-height: 3348.796875vh;
  max-width: 11515vw;
  border-radius: 0px;
  -o-object-fit: fill;
  object-fit: fill;
}

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  height: 160vh;
  max-height: none;
  max-width: none;
  min-height: 123421412421px;
}

.html-embed-2 {
  width: 2092vh;
  height: 160vh;
  max-height: 160vh;
  max-width: 2092vh;
}

.container-2 {
  height: auto;
  max-height: none;
  max-width: none;
}

.html-embed-3 {
  width: 100%;
  height: 100%;
  max-height: 100%;
  max-width: 100%;
  min-height: 100%;
  min-width: 100%;
}

.body {
  max-width: none;
}

.container-3 {
  max-width: 95%;
}

.grid {
  grid-template-areas: "Area";
}

.paragraph {
  width: 100ch;
  height: auto;
  white-space: normal;
}

@media screen and (max-width: 991px) {
  .social-wrapper {
    width: 725px;
  }

  .main-heading {
    font-size: 43px;
  }
}

@media screen and (max-width: 767px) {
  body {
    padding-top: 51px;
  }

  h2 {
    margin-bottom: 12px;
  }

  .button.hollow {
    padding: 11px 18px;
  }

  .navbar {
    padding-left: 10px;
  }

  .logo {
    margin-top: 9px;
    font-size: 22px;
  }

  .section {
    padding-top: 29px;
    padding-bottom: 29px;
  }

  .section.header {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .menu-button {
    padding: 10px;
  }

  .nav-menu {
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .nav-link {
    padding: 13px 10px;
    font-size: 22px;
  }

  .social-wrapper {
    width: 100%;
    margin-bottom: 9px;
    padding: 12px;
  }

  .project-link {
    width: 50%;
    height: 280px;
  }

  .half-width {
    width: 100%;
  }

  .quarter-width {
    width: 100%;
  }

  .third-width {
    width: 100%;
  }

  .main-heading {
    font-size: 32px;
    line-height: 34px;
  }

  .button-group {
    margin-top: 26px;
  }

  .slider {
    height: 315px;
  }

  .slide {
    padding: 50px 10px 64px;
  }

  .brand-link {
    padding-left: 0px;
    text-align: left;
  }

  .form-wrapper {
    margin-top: 11px;
  }

  .padded-column {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .process-row {
    margin-bottom: 0px;
  }

  .mobile-padding-wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }

  .previous-column {
    padding-top: 40px;
    padding-right: 20px;
    padding-bottom: 40px;
  }

  .next-column {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 20px;
  }
}

@media screen and (max-width: 479px) {
  .footer-logo {
    margin-bottom: 8px;
    text-align: center;
  }

  .footer-social-link {
    margin-right: 7px;
    margin-left: 7px;
  }

  .social-footer-wrap {
    text-align: center;
  }

  .previous-column {
    padding-right: 10px;
    padding-left: 10px;
    border-bottom: 1px solid #ededed;
    border-right-width: 0px;
    text-align: left;
  }

  .next-column {
    padding-right: 10px;
    padding-left: 10px;
  }
}

